@media (max-width: 425px) {
    .container {
        max-width: 300px;
    }

    .desktop-divider {
        display: none;
    }

    .mobile-divider {
        display: block;
    }
}

@media (max-width: 375px) {
    .container {
        max-width: 250px;
    }
}